Facturacion3/.vs
NeuralOlympus/obj
NeuralOlympus/bin
NeuralOlympus/bin/Debug
NeuralOlympus/bin/Debug/*.dll
TestPool/obj
TestPool/bin
TestPool/bin/Debug
TestPool/bin/Debug/*.dll
/.vs
*.csproj.user
*.dll
*.pdb
#Ultima actualización 3.28am 2018-10-18
